@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    display: block;
    max-width: 100vw;
    margin: 0 auto;
    padding: 4px 4px;
    background-color: black;
    font-family: Roboto Mono, system-ui, -apple-system, serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.terminal{
    max-width: 100%;
    display: block;
}

p{
    margin: 0;
    padding: 0;
    color: white;
}

input{
    background: black;
    box-sizing: border-box;
    max-width: 100%;
    height: 26px;
    border: none;
    outline: none;
    color: orange; /* base text color */
    text-shadow: 0 0 10px #ffa500; /* neon orange glow */
    font-family: Roboto Mono, system-ui, -apple-system, serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    caret-color: white;
}

a{
    color: orange;
    text-shadow: 0 0 10px #ffa500;
    font-family: Roboto Mono, system-ui, -apple-system, serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
